h1 {
  color: #ffe082;
  font-family: 'Helvetica';
  /*outline: 1px dashed green;*/
}
p {
  font-family: 'Roboto Mono', monospace;
}

img {
  width: 150px;
  margin: 25px;
  padding:1px;
  border:1px solid red;
}
