h1 {
  color: #cddc39;
  font-family: 'Helvetica';
  
}
p {
  font-family: 'Roboto Mono', monospace;
}

img {
  width: 150px;
  margin: 25px;
  padding:1px;
  border:2px solid #ffeb3b;
  background-color:#ff9800;
}
